{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Login</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
                 <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/res-navbar.css' %}" />
        <link rel="stylesheet" href="{% static 'css/bootstrap-icons-1.9.0.css' %}" />
        <script src="{% static 'javascript/JQuery/jquery-3.4.1.min.js' %}"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet" />

    </head>
    <body style="background-color:rgb(46, 46, 46) ;">

        <div style="justify-self: center;">
        <span class="our_logo">
               <a href="home"> WIIMB</a>
              <p style="font-size: x-small;">WHAT IS IN MY BRAIN?</p>
            </span></div>
        
        <div class="login-form-box">

           <span class="form_message_box1">{% for message in messages %} {{message}} {% endfor %}</span>
            <form method="post">
                {% csrf_token %}
            <table>
                <tr>
                    <td><label for="username">Username</label></td>
                    <td><input type="text" name="username" class="login-form-box_input" /></td>
                </tr>
                <tr><td><label for="password">Password</label></td>
                <td><input type="password" name="password" class="login-form-box_input" /></td></tr>

                <tr><td></td><td><input type="submit" name="submit" value="Submit" class="submit_button" /></td></tr>

            </table>
            <span style="color: aliceblue;">Don't have an account ?<a href="signup" style="text-decoration: underline; color: aliceblue;"> Create now !</a></span>
       <br /> <br /> <span style="color: aliceblue;"><a href="#" style="color: aliceblue;">Forgot Password ?</a></span>   
        </form>
        </div>

        <div class="auth_footer">
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Refund Policy</a></li>
            </ul>
        </div>
        
        <script src="" async defer></script>
    </body>
</html>