<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
               <link rel="stylesheet" href="../static/css/style.css" />
        <link rel="stylesheet" href="../static/css/res-navbar.css" />
        <link rel="stylesheet" href="../static/css/bootstrap-icons-1.9.0.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">
        <script src="../static/javascript/JQuery/jquery-3.4.1.min.js"></script>
    </head>
    <body class="black-body">
        <div class="sidebar-right black-body">
     <form method="post" name="hj1_form">

        {% csrf_token %}
        <table>
            <tr><td><h2>Daily Reflection</h2></td></tr>

            <tr><td>What were the best and most challenging moments of my day, and why?</td>
            <td><input type="text" name="my_moments_of_day" class="text-input" /></td></tr>
                
            <tr><td>What is one thing I learned about myself today?</td>
            <td><input type="text" name="thing_learnt_today" class="text-input" /></td></tr>
                
            <tr><td>What are three things you're looking forward to tomorrow?</td>
            <td><input type="text" name="three_things_tom" class="text-input" /></td></tr>
                
            <tr><td>Did you practice self-care today? If so, what did you do? If not, why?</td>
            <td><input type="text" name="self_care_practice" class="text-input" /></td></tr>
                
            <tr><td>What emotions did you experience today, and what triggered them?</td>
            <td><input type="text" name="emotions_today" class="text-input" /></td></tr>

            <tr style="line-height: 50px !important;"><td></td><td><input type="submit" value="Submit" class="submit_button" /></td></tr>
                
            
        </table>
     </form>
        </div>
        <script src="" async defer></script>
    </body>
</html>