{% extends 'base.html' %}

{% load static %}

{% block title %}
Welcome!
{% endblock title %}

{% block content %}

<div class="main_container">
            <div class="title_box">

                 <div class="title_image_box">
                    <img src="../static/images/brain_image.png" alt="WIIMB" width="50%"/>
                 </div>
                <span style="font-size: 200px; " id="stop_rotate">WIIMB </span><br />
                <span>WHAT IS IN MY BRAIN? </span> <br /><br />
               </div> 
               
               <div class="first_page_content">
<p>Through daily health journaling, users can safely record their moods, triggers and experiences. WIIMB’s AI reads these entries, detects emotional patterns and builds a timeline of mental health events — turning invisible struggles into visible insights. Quick Chat, an AI companion, offers instant emotional support during moments of stress or anxiety, using past context to respond in an empathetic and personalised way. Community spaces allow users to connect anonymously with others facing similar challenges, creating a secure and judgement-free environment for sharing and learning.
    <br />

For doctors and caregivers, WIIMB generates weekly progress reports and offers an AI-driven report analyzer that highlights mood trends, trigger points and behavioural shifts. This transforms fragmented information into actionable insights, helping professionals provide faster, more precise, and compassionate care.
<br /> 
By blending natural language processing, emotion detection and secure cloud technology, WIIMB turns passive data into active support. It is not just an app — it is a living, learning system that grows with each user’s journey, making mental health management more transparent, empowering and continuous.
<br />

With WIIMB, mental health care moves from being episodic and invisible to being ongoing, intelligent and empathetic — putting technology and humanity on the same side of your healing journey.</p>

                <div class="flip-box">
                    <div class="flip-box-inner">
                    <div class="flip-box-front">Health Journaling</div>
                    <div class="flip-box-back"> <a href="services">
                        The Journaling feature in WIIMB allows patients or their caregivers to record
                        daily thoughts, emotions, incidents, and behavioral episodes — such as anxiety
                        attacks, mood swings, hallucinations, or obsessive behaviors.
                        Click to read more!</a> </div></div></div>

                <div class="flip-box">
                    <div class="flip-box-inner">
                    <div class="flip-box-front">Quick Chat</div>
                    <div class="flip-box-back"><a href="services">Quick Chat is an AI-powered conversational assistant designed to offer
 instant emotional support to patients during distress, anxiety attacks, or
 periods of confusion and loneliness. Click to read more!</a></div></div></div> 

                <div class="flip-box">
                    <div class="flip-box-inner">
                    <div class="flip-box-front">Community</div>
                    <div class="flip-box-back"><a href="services">The Community feature of WIIMB is a secure, moderated, and anonymous
 mental health space where users can connect with others who are going
 through similar challenges such as Schizophrenia, OCD, Depression, Anxiety,
 or Bipolar Disorder. Click to read more!</a></div></div></div> 


                    <br /> <br /> 
                    <span id="intro_box">Doctor-Patient Interaction </span> <br /> <br />

                    <div class="flip-box">
                    <div class="flip-box-inner">
                    <div class="flip-box-front">Weekly Progress Report </div>
                    <div class="flip-box-back"><a href="services">The Weekly Report Generation feature automatically creates a comprehensive
 mental health summary every 7 days, based on the patient's journal entries,
 emotional trends, and chat data. Click to read more!</a> </div></div></div>
                    <div class="flip-box">
                    <div class="flip-box-inner">
                    <div class="flip-box-front">REPORT ANALYZER (FOR DOCTORS) </div>
                    <div class="flip-box-back"><a href="services">The Report Analyzer is an AI-powered tool designed specifically for mental
 health professionals. Click to read more!</a> </div></div></div>
                    
                    
                 

            </div>   
                
            
    </div>
        

       
{% endblock content %}